In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np


N = 1000

x_1 = np.random.normal(size=N)
x_2 = np.random.normal(x_1)
x_3 = np.random.normal(x_2)

df = pd.DataFrame({'x_1': x_1, 'x_2': x_2, 'x_3': x_3})

In [3]:
df.corr()

          x_1       x_2       x_3
x_1  1.000000  0.686331  0.557633
x_2  0.686331  1.000000  0.838491
x_3  0.557633  0.838491  1.000000

In [4]:
import pandas as pd
import numpy as np


N = 1000

epsilon_1 = np.random.normal(size=N)
epsilon_2 = np.random.normal(size=N)
epsilon_3 = np.random.normal(size=N)

x_1 = epsilon_1
x_2 = x_1 + epsilon_2
x_3 = x_2 + epsilon_3

df = pd.DataFrame({'x_1': x_1, 'x_2': x_2, 'x_3': x_3})

In [6]:
df.corr()

          x_1       x_2       x_3
x_1  1.000000  0.711919  0.581708
x_2  0.711919  1.000000  0.820918
x_3  0.581708  0.820918  1.000000