In [2]:
%matplotlib inline

In [3]:
import numpy as np
import pandas as pd

In [17]:
N = 10000
p_s = 0.5

x = np.random.normal(size=N)
y = np.random.normal(x)
s = np.random.binomial(1, p=p_s, size=N)

df = pd.DataFrame({"X": x, "Y": y, "S": s})
df['X_obs'] = np.where(df.S==1, df.X, np.nan)
df['Y_obs'] = np.where(df.S==1, df.Y, np.nan)

In [18]:
df

             X         Y  S     X_obs     Y_obs
0    -1.431926 -1.190168  0       NaN       NaN
1    -1.524203 -2.084979  1 -1.524203 -2.084979
2     2.052859  1.373628  1  2.052859  1.373628
3     1.166006  0.759947  0       NaN       NaN
4    -1.805134 -1.861824  1 -1.805134 -1.861824
...        ...       ... ..       ...       ...
9995  0.345677  0.810760  1  0.345677  0.810760
9996 -0.293271 -0.185710  0       NaN       NaN
9997 -0.099378 -0.046685  0       NaN       NaN
9998 -0.291066 -0.915713  1 -0.291066 -0.915713
9999  0.498262  0.265437  1  0.498262  0.265437

[10000 rows x 5 columns]

In [22]:
df = pd.DataFrame({'Y': [1, 0, 1, 1, 0],
                   'state': ['NY', 'GA', 'CA', 'FL', 'NY'],
                   'age': ['18-25', '26-35', '18-25', '36-45','65+'],
                   'gender': ['M', 'F', 'unk', 'M', 'F'],
                   'weight': [1.4, 0.7, 1.2, 0.8, 2.5]})
df

   Y state    age gender  weight
0  1    NY  18-25      M     1.4
1  0    GA  26-35      F     0.7
2  1    CA  18-25    unk     1.2
3  1    FL  36-45      M     0.8
4  0    NY    65+      F     2.5

In [23]:
df.mean()

Y         0.60
weight    1.32
dtype: float64

In [24]:
(df['Y']*df['weight']).mean()

0.6799999999999999